/* Forma de ocultar con style css

.ocultar {
    display: none
} */


/* buscar display: flex para centrar */

body {
    background: #FFE521;
}


/* .container {
    Style for timer div
    background: #FF009E;
    width: 20%;
    height: 20%;
}

#timer {
    color: #666;
    font-size: 10px;
} */

.ocultar {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    margin-top: 15%;
}

.averiguemos {
    font-size: 25px;
    color: #FF009E;
}

#name {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    background-color: #56F89A;
}

#elige {
    text-align: center;
}

h2#saludo {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    margin-top: 5%;
    margin-bottom: 0%;
}

#elige p {
    color: #FF009E;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-top: 0;
}

button#america {
    background-color: #56F89A;
    border: none;
    border-radius: 12px;
    color: #000000;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Open Sans', sans-serif;
}

button#europa {
    background-color: #56F89A;
    border: none;
    border-radius: 12px;
    color: #000000;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Open Sans', sans-serif;
}

img {
    display: block;
    margin: auto;
    padding: 0;
    width: 25%;
}

button.button {
    background-color: #56F89A;
    border-radius: 12px;
    border: none;
    color: #000000;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

input[type=text] {
    border-radius: 12px;
    border: solid #56F89A;
    padding: 10px 10px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    background-color: white;
    font-size: 15px;
}

::placeholder {
    color: #000000;
}

#preguntasAmerica {
    margin-top: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

#enviarRespuestasAmerica {
    display: inline-block;
    text-align: center;
    margin-top: 0;
}

#enviar {
    background-color: #56F89A;
    border: none;
    border-radius: 12px;
    color: #000000;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Open Sans', sans-serif;
}

select#argentina {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FF009E;
    border-radius: 8px;
    background-color: #56F89A;
    width: 20%;
}

select#elsalvador {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FF009E;
    border-radius: 8px;
    background-color: #56F89A;
    width: 20%;
}

select#canada {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FF009E;
    border-radius: 8px;
    background-color: #56F89A;
    width: 20%;
}

#preguntasEuropa {
    margin-top: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

select#alemania {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FF009E;
    border-radius: 8px;
    background-color: #56F89A;
    width: 20%;
}

select#suecia {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FF009E;
    border-radius: 8px;
    background-color: #56F89A;
    width: 20%;
}

select#francia {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FF009E;
    border-radius: 8px;
    background-color: #56F89A;
    width: 20%;
}

#enviarRespuestasEuropa {
    display: inline-block;
    text-align: center;
}

#enviar2 {
    background-color: #56F89A;
    border: none;
    border-radius: 12px;
    color: #000000;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Open Sans', sans-serif;
}

#resultados {
    margin-top: 10%;
    display: inline-block;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

#final {
    background-color: #56F89A;
    border: none;
    border-radius: 12px;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: 'Open Sans', sans-serif;
}